/* Configurações gerais */
* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: url('../img/background.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw !important;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body::-webkit-scrollbar {
    display: none;
  }

ul {
    list-style: none;
}
/* Barra de Navegação */

header{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

input[type="text"] ,
input[type="search"],
.observacao {
    border: .5px solid #ccc;
    box-shadow: none;
}

input[type="text"]:focus , 
.observacao:focus,
input[type="search"]:focus {
    border-color: #000;
    box-shadow: 0 0 3px black;
}

#icon-page {
    color: #0095eb;
}

.title {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

#navegacao{
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    position: relative;
    display: flex;
    padding-right: 15px;
    padding-left: 15px;
}

#navegacao ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 2rem;    
    flex: 1;
}

#navegacao ul li {
    width: 150px !important;
    text-align: center;
    padding: 8px 0;
    flex: 1;
}

.icons {
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    flex: 1;
}

.itemNav{
    cursor: pointer;
    transition: .3s;
}

.itemNav:hover{
    color: #000 !important;
}

.dropdown-principal i{
    pointer-events: none;
}

.rotacionar{
    animation: giraIcone .3s linear;
}

.desrotacionar{
    animation: desviraIcone .3s linear;
}

.girar:hover {
    animation: girar360 2s infinite linear;
}

.dropdown-menu-cadastro{
    position: absolute;
    display: none;
    flex-direction: column;
    margin-top: 15px ;
    z-index: 1;
    transform: translateX(-60px);
}

.dropdown-menu-cadastro a{
    background-color: red;
    padding: .9rem;
}

.hide{
    display: flex;
}

#customFileLang{
    border: 1px solid #333;
}

.info-user{
    width: 200px !important;
    display: flex;
}

.conteudo-config{
    padding: 2rem;
}

#color_nav{
    width:100px !important;
}

.observacao,
#info_observacao{
    height: 250px !important;
    resize: none;
}

@keyframes giraIcone {

    to{
        transform: rotate(180deg);
    }
}

@keyframes desviraIcone {

    from{
        transform: rotate(0);
    }

    to{
        transform: rotate(-180deg);
    }
}

@keyframes girar360 {
    to{
        transform: rotate(360deg);
    }
}